.header-Payment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(219, 219, 219, 0.737), rgba(0, 0, 0, 0.776)), url(../images/payment.jpg);
}

.StripeElement--webkit-autofill {
	background: transparent !important;
}

.StripeElement {
	width: 100%;
	padding: 30px 15px;
    background-color: rgb(255, 255, 255);
	border-radius: 10px;
	height: 40px;
	margin-top: 10px;
}

.App {
	margin-left: 25%;
	margin-top: 5%;
	margin-right: 25%;
}

h2,
h3 {
	text-align: center;
	margin-top: 70px;
	margin-bottom: 50px;
}

h1 {
	text-align: center;
	margin-top: 30px;
}

.PaymentForm {
	display: flex;
	justify-content: center;
	margin-bottom: 80px;
	margin-top: 80px;
}
  
.PaymentBox {
	padding: 20px;
	width: 550px;
	height: 670px;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.597);
	border: 3px solid rgba(0, 0, 0, 0.792);
	box-shadow: rgba(0, 0, 0, 0.792) 0px 0px 10px 0px;
}
  
.StripeElement {
	width: 100%;
	padding: 10px;
}

